<!DOCTYPE html>
<html lang="{{ get_locale() }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ _('home_title') }}</title>
  </head>
  <body>
    <h1>{{ _('home_header') }}</h1>

    <p>
      {% if g.user %} {{ _('logged_in_as', username=g.user.name) }} {% else %}
      {{ _('not_logged_in') }} {% endif %}
    </p>

    <p>
      <a href="/?locale=en">English</a> | <a href="/?locale=fr">Français</a>
    </p>
    <p>
      <a href="/?login_as=1">Login as Balou</a> |
      <a href="/?login_as=2">Login as Beyonce</a> |
      <a href="/?login_as=3">Login as Spock</a> |
      <a href="/?login_as=4">Login as Teletubby</a>
    </p>
  </body>
</html>
